[submodule "btstack"]
	path = btstack
	url = https://github.com/bluekitchen/btstack.git
	branch = develop
[submodule "apps/btstack-senseunit"]
	path = apps/btstack-senseunit
	url = https://github.com/head5man/btstack-senseunit.git
